body {
    background-color: #f3f7fa;
    box-sizing: border-box;
    color: #4a4a4a;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.app {
    display: flex;
    width: 100%;
    height: 100%;
}

.app-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
}

.app-logo {
    text-align: center;
}

.app-body {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin-top: 50px;
}

@media (max-width: 767px) {
    .app-body {
        flex-direction: column;
    }
}
