.app-tickets {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    @media (max-width: 767px) {
        margin: 20px auto 0;
        width: 80%;
    }
}

ul {
    box-sizing: border-box;
    color: #4a4a4a;
    font-family: Open Sans Regular,sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.ticket {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.ticket-body {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    padding: 20px;
}
.ticket-price-logo {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.ticket-price {
    color: #2196f3;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;

    @media (max-width: 767px) {
        font-size: 20px;
    }
}

.ticket-info {
    display: flex;
    flex-direction: column;

    &>span:first-child {
        color: #a0b0b9;
        text-transform: uppercase;

        @media (max-width: 767px) {
            font-size: 12px;
        }
    }
    &>span:last-child {
        font-size: 14px;

        @media (max-width: 767px) {
            font-size: 12px;
        }
    }
}
.app-button-more {
    background-color: #2196f3;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 20px;
    margin-top: 20px;
    padding: 15px;
    transition: .5s;
    letter-spacing: .5px;

    &:hover {
        background-color: #118bee;
    }
}